@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.2;
}

nav {
    position: sticky;
    overflow: hidden;
    top: 0;
    padding: 32px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(20px);
}

nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: left;
    height: 24px;
    margin-left: 10%;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    height: 24px;
    margin-right: 10%;
}

.home {
    font-weight: 700;
    margin-right: 48px;
    background: linear-gradient(to right, #2B7ABD 0%, #39A0F7  100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.cv {
    margin-left: 48px;
}

.logo {
    max-width: 20px;
    max-height: 20px;
    align-items: center;
}

section {
    background-attachment: fixed;
    background-size: cover;
}

footer {
    background-attachment: fixed;
    background-size: cover;
}

.hero {
    height: 100vh;
    background-image: url(./image/Hero.jpg);
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
    padding: 16px 0;
    text-shadow: 5px 5px 68px white;
    color: black;
}

.hero h4 {
    font-size: 26px;
    font-weight: 500;
    text-shadow: 5px 5px 26px white;
    color: black;
}

.hero h5 {
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0 0 16px white;
    color: black;
    margin-left: 6px;
}

.hero button {
    height: 60px;
    padding: 16px 32px;
    border-radius: 1000em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 48px 0;
    border: none;
    outline: 0;
    color: white;
    background-image: linear-gradient(to right, #2B7ABD 0%, #39A0F7  100%);
    box-shadow: 5px 5px 20px rgba(107, 157, 245, 0.75);
    text-transform: uppercase;
}

.about button {
    height: 48px;
    width: 200px;
    padding: 16px 32px;
    border-radius: 1000em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: 0;
    color: white;
    background-image: linear-gradient(to right, #2B7ABD 0%, #39A0F7  100%);
    box-shadow: 5px 5px 20px rgba(107, 157, 245, 0.75);
    text-transform: uppercase;
    text-align: center;
}

footer button {
    height: 60px;
    padding: 16px 32px;
    border-radius: 1000em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 0;
    border: none;
    outline: 0;
    color: white;
    background-image: linear-gradient(to right, #2B7ABD 0%, #39A0F7  100%);
    box-shadow: 5px 5px 20px rgba(107, 157, 245, 0.75);
    text-transform: uppercase;
}

.footer-info {
    padding: 25vh 10%;
    height: auto;
    background-image: url(./image/Footer.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

h5 {
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0 0 16px white;
    color: black;
}

#h5-bold {
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0 0 16px white;
    color: black;
}

h2 {
    font-size: 42px;
    font-weight: 700;
    text-shadow: 0 0 16px white;
    color: black;
}

h4 {
    font-size: 26px;
    font-weight: 500;
    text-shadow: 5px 5px 26px white;
    color: black;
}

#h4-bold {
    font-size: 26px;
    font-weight: 700;
    text-shadow: 5px 5px 26px white;
    color: black;
}

.hero-info {
    padding: 25vh 10%;
}

.about {
    height: auto;
    background-image: url(./image/About.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 25vh 10%;
}

.profile-photo {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin: auto;
}

.about-layout {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}
.about-left {
    width: 25%;
    text-align: center;
}

.about-right {
    width: 65%;
    overflow: hidden;
    text-align: left;
}

.bottom-footer {
    margin: auto;
    background-image: linear-gradient(to right, #2B7ABD 0%, #39A0F7  100%);
    color: white;
    padding: 16px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 0 0;
}

#footer-social {
    display: flex;
    justify-content: flex-start;
}

#footer-desc {
    width: 45%;
}

footer h5 {
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0 0 16px black;
    color: white;
}

footer h2 {
    font-size: 42px;
    font-weight: 700;
    text-shadow: 0 0 16px black;
    color: white;
}

footer h4 {
    font-size: 26px;
    font-weight: 500;
    text-shadow: 5px 5px 26px black;
    color: white;
}

footer #h4-bold {
    font-size: 26px;
    font-weight: 700;
    text-shadow: 5px 5px 26px black;
    color: white;
}

footer #h5-bold {
    font-size: 16px;
    font-weight: 700;
    text-shadow: 0 0 16px black;
    color: white;
}

.filter-button {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 48px 0;
}

.filter-button button {
    height: auto;
    padding: 16px 32px;
    border-radius: 1000em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #2B7ABD;
    background-color: white;
    text-transform: uppercase;
    text-align: center;
    border: none;
}

.filter-button button:active {
    background-image: linear-gradient(to right, #fa6400 0%, #ffc400  100%);
    color: white;
    border: white;
}

.filter-button button:hover {
    background-color: white;
    background: linear-gradient(to right, #fa6400 0%, #ffc400  100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
}

nav a:hover {
    background: linear-gradient(to right, #fa6400 0%, #ffc400  100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services {
    height: auto;
    background-image: url(./image/Nilou.png);
    background-size: cover;
    background-attachment: fixed;
    padding: 25vh 10%;
}

.a-text:hover {
    background: linear-gradient(to right, #fa6400 0%, #ffc400  100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card img {
    height: 200px;
    width: 300px;
    padding: 10px;
    object-fit: cover;
    border-radius: 32px;
}

.card {
    width: 320px;
    height: auto;
    border-radius: 24px;
    overflow: hidden;
    padding: 8px;
    background-color: white;
}

.label {
    display: flex;
    justify-content: flex-start;
    gap: 4%;
    padding: 10px
}

.card-title {
    padding: 10px;
}

.label-info {
    text-align: center;
    background-color: #2B7ABD;
    color: white;
    padding: 2% 5%;
    border-radius: 1000em;
}

.card-body {
    display: flex;
    justify-content: flex-start;
    gap: 8%;
    padding: 8px 16px;
}

.a-services {
    text-decoration: none;
    color: black;
}

.card-organ {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
    padding-bottom: 8px;
}

.filterable-cards {
    height: auto;
    display: flex;
    justify-content: center;
    padding: 0 0 24px 0;
    flex-wrap: wrap;
    gap: 16px;
}